<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->

<mapper namespace="com.example.Spring.DAO.RegisterMapper">
    <!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称 -->

    <!-- 添加注册数据 -->
    <insert id="register_adduser" parameterType="com.example.Spring.Entities.UserData" useGeneratedKeys="true" keyColumn="UserID" keyProperty="UserID">
        INSERT INTO login (UserID,Phone,NickName,Email,PassWord,State) VALUES (null,#{phone},#{nickname},#{email},#{password},200)
    </insert>

    <!-- <foreach collection="paymentTypes" index="index" item="item" open="(" separator="," close=")">
        #{item}
    </foreach>  -->

    <insert id="register_adduser_class" parameterType="com.example.Spring.Entities.UserData" useGeneratedKeys="true" keyColumn="UserID" keyProperty="UserID">
        INSERT INTO login (UserID,Phone,NickName,Email,PassWord,State) VALUES (null,#{Phone},#{NickName},#{Email},#{Password},200)
    </insert>


    <!-- 注册查重查询 -->
    <select id="repeat_check" resultType="int">
        select count(*) from login where (Phone=#{phone}) or (NickName=#{nickname}) or (Email=#{email})
    </select>

    <!-- 邮箱查重查询 无手机号-->
    <select id="repeat_check_no_phone" resultType="int">
        select count(*) from login where (NickName=#{nickname}) or (Email=#{email})
    </select>

    <!-- 邮箱查重查询 仅邮箱-->
    <select id="repeat_check_to_email" resultType="int">
        select count(*) from login where (Email=#{email})
    </select>
</mapper>